[submodule "Backtracking"]
	path = Backtracking
	url = ./Backtracking
[submodule "divide-Conquer"]
	path = divide-Conquer
	url = ./divide-Conquer
[submodule "C-Programs"]
	path = C-Programs
	url = https://github.com/prabalbansal6183/C-Programs
